body {
  font: 16px/1.62 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444;
  text-rendering: optimizelegibility;
}

/* Custom container */
.container-narrow {
margin: 0 auto;
max-width: 700px;
}


.container-narrow > hr {
margin: 30px 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


















